@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Kids Komik';
  src: url('../fonts/kidskomik/KidsKomik/KidsKomik.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

/* ================== DESKTOP MEDIA QUERY============ */

@media only screen and (min-width: 768px) {
  .mobile-content {
    display: none;
    /* Ocultar contenido para móviles y tabletas en escritorios */
  }

  .hamburger {
    display: none;
  }

  html {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
  }

  * {
    box-sizing: border-box;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  .body-desktop {

    margin: 0;
  }

  .header-desktop {
    background-image: url(../img/HEADER\ GENERAL_.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .header-desktop #logo-desktop {

    width: 45%;
    /* Controla el ancho de la imagen */
    height: auto;
    /* Mantiene la relación de aspecto de la imagen */
    margin-right: -2%;
    /* Ajusta este valor según tus necesidades */
  }

  .button-desktop {

    transform: translateX(-20%);
    margin-right: -10%;
    /* Ajusta este valor según tus necesidades */
    margin-left: 1%;
    width: 25%;
    /* Ajusta este valor según tus necesidades */
    height: auto;
  }

  .button-4 {

    transform: translateX(-20%);
    margin-right: 0%;
    /* Ajusta este valor según tus necesidades */
    margin-left: 2%;
    width: 25%;
    /* Ajusta este valor según tus necesidades */
    height: auto;

  }


  .zonademapa-desktop {
    background-image: url(../img/atrasdelmapa.svg);
    background-size: cover;
    margin-top: -175px;
    height: 150vh;
    z-index: 2;
    position: relative;
    display: flex;
  }

  .zonademapa-desktop #explora-mapa {
    width: 65vw;
    /* Controla el ancho de la imagen */
    max-width: 900px;
    min-width: 328px;
    margin: auto;
    height: 30vh;
    transform: translateX(-10vh);
    transform: translateY(-30vh);
    padding: 0;

  }

  .mapa {
    background-image: url(../img/MAPA\ HOME.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: 125%;
    transform: translate(-10vh, 20vh);
  }

  .mapa #meteoreologiabutton {
    height: 30%;
    width: 30%;
    transform: translate(-13vh, 23vh);
  }

  .mapa #geologiabutton {

    height: 30%;
    width: 30%;
    transform: translate(-40vh, 45vh);
  }

  .mapa #sismologiabutton {

    height: 30%;
    width: 30%;
    transform: translate(-30vh, 15vh);

  }

  .mapa #hidrologiabutton {
    height: 30%;
    width: 30%;

    transform: translate(55vh, 15vh);
  }

  .mapa #vulcanologiabutton {

    height: 30%;
    width: 30%;
    transform: translate(65vh, -10vh);
  }

  .mapa #oceanografiabutton {
    height: 30%;
    width: 30%;

    transform: translate(20vh, 38vh);
  }

  .grasszone-desktop {
    background-image: url(../img/grassbg.svg);
    background-size: cover;
    height: 276vh;
    z-index: 4;
    position: relative;
    margin-top: -175px;
    display: flex;
    flex-direction: column;


  }

  .grasszone-superior {
    flex: 1;
    height: 25%;


  }

  .container-grasszonesuperior {
    display: flex;
    flex-direction: row;
  }

  .container-grasszonesuperior div {

    flex: 1;
    height: 15%;
    width: 50%;

  }


  .grasszone-inferior {
    flex: 1;
    height: 50%;
  }

  .swiper-container {
    width: 100%;
    height: 35%;

    transform: translateY(70%);
  }

  .swiper-slide {
    display: flex !important;
    /* Utiliza flexbox para alinear los elementos */
    align-items: flex-start;
  }

  .swiper-slide img {
    width: 50%;

    height: auto;
  }



  .text {
    width: 35%;
    height: 138%;
    background-color: orange;
    border-radius: 10px;
    /* Adjust this value to change the roundness of the corners */
    padding: 20px;
    flex: 1;
  }

  .swiper-pagination-bullet {
    background: #000 !important;
    /* Change bullet color */
  }

  .swiper-pagination-bullet-active {
    background: #007aff !important;
    /* Change active bullet color */
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(150%);
  }

  .swiper-pagination {
    position: absolute !important;
    bottom: -50% !important;

  }

  .h1-slide1 {


    margin-bottom: 20px;
  }

  .ul-slide1 {
    line-height: 2;
    margin-bottom: 20px;
  }

  .a-slide1 {

    background-color: red;
    padding: 10px;
    color: #000;
    justify-content: center;

  }


  .parrafobservatorio {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-family: 'Afacad', sans-serif;
    border-radius: 20px;

    font-size: 2vw;
    text-align: justify;
    padding: 20px;
    line-height: -10px;
  }

  .grasszone-desktop #elobservatoriobanner {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .grasszone-desktop #elobservatorioimg {
    height: 25%;
    width: auto;
    transform: translateY(10vh);
  }

  .bannerdivisor-desktop {
    background-image: url(../img/bannerdivisor.svg);
    background-size: cover;
    height: 45%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(5vh);
  }

  .lakezone-header {
    background-image: url(../img/epoca.svg);
    background-size: cover;
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;



  }





  .lakezone-desktop {

    background-image: url(../img/fondolago.svg);
    background-size: cover;
    height: 175vh;
    z-index: 1;
    position: relative;
    margin-top: -225px;
    display: flex;
    flex-direction: column;
  }

  .lakezone-header {
    transform: translate(-65vh, 20vh);
  }

  .lakezone-superior {
    height: 75%;
    overflow: hidden;
  }

  .lakezone-inferior {

    height: 25%;
    overflow: hidden;
    /* Hace que ambos divs ocupen el mismo espacio */
  }

  .parrafolakezone {

    background: rgba(255, 255, 255, 0.5);
    width: 70%;
    font-family: 'Afacad', sans-serif;
    border-radius: 20px;
    transform: translate(10vh, 30vh);
    font-size: 2.5vw;
    text-align: justify;
    padding: 20px;
    line-height: -10px;


  }

  .lakezonebuttons {
    display: flex;
    justify-content: center;
    transform: translate(-22vh, 2vh);
    width: 125%;
  }



  .spacezone-desktop {
    background-image: url(../img/fondo\ estrelas\ doble_.svg);
    height: 1750px;
    background-size: cover;
    z-index: 0;
    position: relative;
    margin-top: -100px;
    display: flex;
    flex-direction: column;

  }

  .spacezone-header {
    display: flex;
    justify-content: end;
  }

  .faqs-banner {
    transform: translate(-10vh, 15vh);

  }

  .mitad-superior {
    flex: 1;

  }




  .mitad-inferior {
    flex: 1;
    /* Hace que ambos divs ocupen el mismo espacio */
  }

  .container {
    margin: 20px;
    position: absolute;
    /* Posiciona de manera absoluta dentro de su contenedor padre */
    top: 50%;
    /* Mueve el contenedor al 50% del contenedor padre en la parte superior */
    left: 50%;
    /* Mueve el contenedor al 50% del contenedor padre en la parte izquierda */
    transform: translate(-50%, -50%);
    /* Centra el contenedor */
    width: 70%;
    /* Establece el ancho del contenedor al 50% del ancho del contenedor padre */
    height: 70%;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-01 {
    background: rgba(241, 25, 230, 0.508);
    ;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;

  }

  .card-01[open] {
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
  }

  .card-02 {
    background: rgba(241, 25, 230, 0.508);
    ;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  .card-02[open] {
    max-width: 460px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
  }

  .card-03 {
    background: rgba(241, 25, 230, 0.508);
    ;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;

  }

  .card-03[open] {
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
  }

  .verplaneta-button {
    width: 25%;
    transform: translateY(-10vh);
  }

  .spacezone-footer {
    display: flex;
    justify-content: center;
  }

  .footer-desktop {
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    z-index: 5;
    position: relative;
    margin-top: -150px;
  }


  /* VULCANOLOGIA INTERMEDIO*/
  .vulcanologia-zone {
    background-image: url(../img/fondovulcanologiadesktop.svg);
    background-size: cover;
    height: 250vh;
    margin-top: -5%;
  }

  .vulcanologia-zone-superior,
  .vulcanologia-zone-inferior {

    flex: 1;
    height: 50%;
    overflow: hidden;
  }

  .vulcasuperior-container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .mitad-superior {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }

  .vulcacard-superior {
    background-color: #FAF3E0;
    /* Color blanco hueso */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    padding: 20px;
    /* Espaciado interno */
    width: 90%;
    /* Ancho de la tarjeta (80% del contenedor padre) */

    height: 60%;
    /* Altura automática (se ajustará según el contenido) */
    margin: auto;
    /* Centrar la tarjeta */
    box-sizing: border-box;
    /* Incluir el padding y el border en el ancho total */
  }

  .vulcainferior-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mitad-1 {
    height: 75%;
    overflow: hidden;
  }

  .mitad-2 {
    height: 25%;
    overflow: hidden;
  }

  .container-intermedio {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .column {
    flex: 1 1 calc(33.33% - 20px);
    /* Divide el espacio en tres columnas */
    max-width: calc(33.33% - 20px);
    /* Establece el ancho máximo de cada columna */
  }

  .custom-card {
    background: rgba(241, 25, 230, 0.508);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  .vulca-buttons {
    display: flex;
    justify-content: center;
    transform: translate(-15vh, 2vh);
    width: 125%;
  }

  .swiper {
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .swiper-cards .swiper-slide {
    overflow: hidden;
    border: 1px solid white;
  }

  .swiper-slide {
    background: #fff;
    border-radius: 18px;
    position: relative;
    z-index: 1;
  }

  .swiper-slide.swiper-slide-active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .ghost {
    background: url(../img/ghost.jpg);
    background-size: cover;
    background-position: center;
  }

  .jack {
    background: url(../img/jack.jpg);
    background-size: cover;
    background-position: center;
  }

  .god {
    background: url(../img/god.jpg);
    background-size: cover;
    background-position: center;
  }

  .joker {
    background: url(../img/joker.jpg);
    background-size: cover;
    background-position: center;
  }

  .wolverine {
    background: url(../img/wolverine.jpg);
    background-size: cover;
    background-position: center;
  }

  /*VULCANOLOGIA TEMAS*/

  .vulcatemas-zone {
    background-image: url(../img/fondovulcanologiadesktop.svg);
    background-size: cover;
    height: 250vh;
    margin-top: -5%;
    display: flex;
    /* Utilizamos flexbox para centrar horizontal y verticalmente */
    justify-content: center;
    /* Centramos horizontalmente */
    align-items: center;
  }

  .temas-container {

    background-color: rgba(255, 255, 255, 0.5);
    /* Utilizamos RGBA para definir un color blanco con transparencia */
    width: 95%;
    /* El ancho ocupa todo el espacio disponible dentro de la sección */
    height: 93%;
    /* La altura también ocupa todo el espacio disponible dentro de la sección */
    box-sizing: border-box;
    border-radius: 20px;
  }

  .superior-vulca {

    height: 75%;
    overflow: hidden;
    display: flex;
    padding: 20px;

  }

  .superior-vulca-1 {
    width: 70%;
    background-color: white; /* Color de fondo blanco */
    border-radius: 15px;
  }

  .superior-vulca-2 {
    width: 30%;
    margin-left: 10px;
  }

  .superior-vulca-2-1 {
    height: 40%;
    background-color: aquamarine;
    border-radius: 15px;


  }

  .superior-vulca-2-2 {
    height: 20%;
    border-radius: 15px;
    background-color: orangered;
    
  }

  .inferior-vulca {

    height: 25%;
    overflow: hidden;
    padding: 20px;
  }
  
  .inferior-vulca-1 {
    height: 50%;
    border-radius: 15px;
    background-color: orangered;
  }

  .inferior-vulca-2 {
    height: 50%;
  }




}