@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Kids Komik';
  src: url('../fonts/kidskomik/KidsKomik/KidsKomik.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}


/* ===== */
@media only screen and (max-width: 767px) {

  .desktop-content{
    display: none;
  }

  :root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary:141418;
    --body-color: #E4E9F7;
    --sidebar-color: #ffffff;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

  }
html, body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection{
  background-color: var(--primary-color);
  color: #fff;
}

/* ==== sidebar  */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;  
}
.sidebar.close{
  width: 88px;

}
/* ===== Reusable code - Here ===== */
.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text{
  opacity: 0;
}
/* =========================== */

.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}
.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
body.dark .sidebar header .toggle{
  color: var(--text-color);
}
.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}


.sidebar header .image img{
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
  color: var(--text-color);
}

.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
  margin-top: 40px;
}

.sidebar li.search-box{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover{
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
  color: var(--text-color);
}

.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute;
}
.mode .sun-moon i.sun{
  opacity: 0;
}
body.dark .mode .sun-moon i.sun{
  opacity: 1;
}
body.dark .mode .sun-moon i.moon{
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before{
  left: 20px;
}

.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home.hidden {
  display: none;
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text{
  color: var(--text-color);
}


/* SIDEBAR */
.hamburger {
  display: block; /* Muestra el botón hamburguesa en dispositivos móviles */
  position: fixed;
  top: 20px;
  left: 20px; /* Ajusta la posición del botón hamburguesa al lado izquierdo */
  z-index: 999;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger-line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin: 5px auto; /* Espaciado entre las líneas */
  transition: all 0.3s ease;
}

/* Efecto de animación para convertir las líneas en una "X" al abrir el menú */
.hamburger.open .hamburger-line:nth-child(1) {
  transform: rotate(50deg) translate(5px, 5px);
}

.hamburger.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
  transform: rotate(-50deg) translate(5px, -5px);
}

.sidebar.close{
  width: 0;
  transform: translateX(-110vw);
  transition: var(--tran-05);
}


/* ------ */

 
/* ------------------------------- */
  /*fondos de Pantalla*/
  
  .geo {
    background-image: url(../img/geologíaBoton_.svg);
  }
  
  .sism{
    background-image: url(../img/sismologiaBoton_.svg);
  }
  
  .hidro {
    background-image: url(../img/hidrologiaboton_.svg);
  }

  .vulcan{
    background-image: url(../img/Vulcanologiaboton_.svg);

  }

  .meteo{
    background-image: url(../img/meteorologiaboton_.svg);
  }

  .ocean{
    background-image: url(../img/oceanografiaboton_.svg);
  }
  
  .box {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 20px;
    transition: transform 0.5s ease;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box:nth-of-type(even) {
    transform: translateX(-400%);
  }
  
  .box:nth-of-type(odd) {
    transform: translateX(400%);
  }
  
  .box.show {
    transform: translateX(0);
  }
  
 
  .box:active {
    animation: wiggle 0.2s ease-in-out;
  }
  
  .areasDeEstudioSection > img{
    width: 100%;
    height: auto;
  }
  
  .areasDeEstudioSection,
  .faqSection {
    position: relative;
    width: 100%;
  }
  .areasDeEstudioSectionVulcanologia.faqSection{
    position: relative;
    width: 100%;
  }

  .areasDeEstudioSectionVulcanologia > img{
    width: 100%;
    height: auto;
  }
  
  .areasDeEstudioSection {
    background-image: url(../img/fondoMobileMARN.svg);
    padding: 10%;
    background-size: cover;
  }
  .areasDeEstudioSectionVulcanologia {
    background-image: url(../img/fondoMobileVulca.svg);
    padding: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

  .areasDeEstudioSectionGeologia {
    background-image: url(../img/fondoMobileGeo.svg);
    padding: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

  .areasDeEstudioSectionGeologia > img{
    width: 100%;
    height: auto;
  }
  
  .faqSection {
    background-image: url(../img/faqFondoEstrellas.svg);
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  
  
  .divider-container img {
    display: block;
    width: 110%;
    height: auto;
    position: relative;
    top: -50px;
    left: -18px; /* Adjust this value to move the image more to the left */
  }
  .dividerImage {
    width: 150%; /* Adjust this value to change the width of the image */
    height: auto; /* This will maintain the aspect ratio of the image */
    object-fit: cover; /* This will maintain the aspect ratio of the image */
    position: relative;
    top: -50px;
    left: -20px; /* Adjust this value to move the image more to the left */
  }

.dividerImage, .image-container img {
    width: 150%;
    height: auto;
    object-fit: cover;
}

.dividerImage {
    position: relative;
    top: -50px;
    left: -20px;
}

.image-container img {
  display: block;
  margin: 0 auto;
  width: 70%;
  
}


  .image-container {
    position: relative;
    text-align: center;
    padding-bottom: 3em;
  }
  
  
  .image-container h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  details {
    background-color: rgba(241, 15, 230, 0.308); 
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 1em;
  }
  
  summary {
    font-weight: bold;
    color: #fff;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;}
  
  details[open] {
    color: #ffffff;
    font-weight: bold;
    font-weight: bold;
    padding: 0.5em;
    background-color: rgba(241, 25, 230, 0.508); 
    border-radius: 10px;/* Add this line */
  }
  
  details[open] summary {
    margin-bottom: 0.5em;
  }

  .form-container {
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    margin: auto; 
  }
  
  .form-container h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container textarea:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  .form-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .footerSection {
    background-color: rgb(50, 62, 72);
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .footerSection img {
    margin-right: 10px;
    max-width: 100%;
    height: auto;
  }

  .actividadesExtra {
    display: block; /* Coloca los elementos uno al lado del otro */
    justify-content: space-around; /* Distribuye los elementos uniformemente en el contenedor */
    background-image: url(../img/fondoMobileVulca.svg); /* Aplica el fondo */
    padding: 2em; /* Agrega algo de espacio alrededor de los elementos */
    background-size: cover; /* Asegura que el fondo cubra toda la sección */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-attachment: fixed; 
    text-align: center;
}

.actividadesExtra > .boton {
  flex: 1;
  margin: 0.5em auto;  /* Agrega algo de espacio alrededor de cada botón */
  display: inline-block; /* Coloca los elementos uno al lado del otro */
}

.actividadesExtra > .boton > img {
    width: 50%; /* Hace que las imágenes ocupen todo el ancho disponible */
    height: auto; /* Mantiene la proporción de las imágenes */
}
/* HIDROLOGIA  */

/* Navegación */

body-mobile {
  background-color: #F28B00;
}
mobile-content {
  background-color: #fbc57e79;
}
/* Contenido principal */
.temaPrincipal {
  background-color: #ffffffbc;
  border-radius: 1rem; /* Use rem instead of px */
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Use rem instead of px */
  max-width: 50rem; /* Use rem instead of px */
  margin: 2rem auto;
  text-align: justify;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.temaPrincipal img {
  width: 100%;
  height: auto;

}
.temaPrincipal h2 {
  margin-top: 0;
}

.temaPrincipal p {
  line-height: 1.6;
}

.temaPrincipal button {
  background-color: #c68342;
  color: #fff;
  border: none;
  border-radius: 0.5rem; /* Use rem instead of px */
  padding: 1rem 2rem; /* Use rem instead of px */
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.temaPrincipal button:hover {
  background-color: #00e1ff76;
}

/* Contenido secundario */
.infoSecundaria {
  background-color: #ffffffbc;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 50rem;
  margin: 2rem auto;
  text-align: justify;
  overflow: hidden;
  height: 300px;
  height: 300px; /* Adjust as needed */
}
.infoSecundaria h3 {
  margin-top: 0;
}

.infoSecundaria p {
  line-height: 1.6;
}


/* Footer */
footer {
}



}
/* ================== DESKTOP MEDIA QUERY============ */

@media only screen and (min-width: 768px) {
  .mobile-content {
    display: none;
    /* Ocultar contenido para móviles y tabletas en escritorios */
  }

  .hamburger {
    display: none;
}

html {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  .body-desktop {

    margin: 0;
  }

  .header-desktop {
    background-image: url(../img/HEADER\ GENERAL_.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .header-desktop #logo-desktop {

    width: 45%;
    /* Controla el ancho de la imagen */
    height: auto;
    /* Mantiene la relación de aspecto de la imagen */
    margin-right: -2%;
    /* Ajusta este valor según tus necesidades */
  }

  .button-desktop {

    transform: translateX(-20%);
    margin-right: -10%;
    /* Ajusta este valor según tus necesidades */
    margin-left: 1%;
    width: 25%;
    /* Ajusta este valor según tus necesidades */
    height: auto;
  }

  .button-4 {

    transform: translateX(-20%);
    margin-right: 0%;
    /* Ajusta este valor según tus necesidades */
    margin-left: 2%;
    width: 25%;
    /* Ajusta este valor según tus necesidades */
    height: auto;

  }


  .zonademapa-desktop {
    background-image: url(../img/atrasdelmapa.svg);
    background-size: cover;
    margin-top: -175px;
    height: 150vh;
    z-index: 2;
    position: relative;
    display: flex;
  }

  .zonademapa-desktop #explora-mapa {
    width: 65vw;
    /* Controla el ancho de la imagen */
    max-width: 900px;
    min-width: 328px;
    margin: auto;
    height: 30vh;
    transform: translateX(-10vh);
    transform: translateY(-30vh);
    padding: 0;

  }

  .mapa {
    background-image: url(../img/MAPA\ HOME.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: 125%;
    transform: translate(-10vh, 20vh);
  }

  .mapa #meteoreologiabutton {
    height: 30%;
    width: 30%;
    transform: translate(-13vh, 23vh);
  }

  .mapa #geologiabutton {

    height: 30%;
    width: 30%;
    transform: translate(-40vh, 45vh);
  }

  .mapa #sismologiabutton {

    height: 30%;
    width: 30%;
    transform: translate(-30vh, 15vh);

  }

  .mapa #hidrologiabutton {
    height: 30%;
    width: 30%;

    transform: translate(55vh, 15vh);
  }

  .mapa #vulcanologiabutton {

    height: 30%;
    width: 30%;
    transform: translate(65vh, -10vh);
  }

  .mapa #oceanografiabutton {
    height: 30%;
    width: 30%;

    transform: translate(20vh, 38vh);
  }

  .grasszone-desktop {
    background-image: url(../img/grassbg.svg);
    background-size: cover;
    height: 276vh;
    z-index: 4;
    position: relative;
    margin-top: -175px;
    display: flex;
    flex-direction: column;


  }

  .grasszone-superior {
    flex: 1;
    height: 25%;


  }

  .container-grasszonesuperior{
    display: flex;
flex-direction: row;
  }

  .container-grasszonesuperior div{

    flex: 1;
    height: 15%;
    width: 50%;
    
  }


  .grasszone-inferior {
    flex: 1;
    height: 50%;
  }

  .swiper-container {
    width: 100%;
    height: 35%;
    
    transform: translateY(70%);
  }

  .swiper-slide {
    display: flex !important;
    /* Utiliza flexbox para alinear los elementos */
    align-items: flex-start;
  }

  .swiper-slide img {
    width: 50%;
    
    height: auto;
  }



  .text {
    width: 35%;
    height: 138%;
    background-color: orange;
    border-radius: 10px;
    /* Adjust this value to change the roundness of the corners */
    padding: 20px;
    flex: 1;
  }

  .swiper-pagination-bullet {
    background: #000 !important;
    /* Change bullet color */
  }

  .swiper-pagination-bullet-active {
    background: #007aff !important;
    /* Change active bullet color */
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(150%);
  }

  .swiper-pagination{
position: absolute !important;
bottom: -50% !important;

  }

  .h1-slide1{


    margin-bottom: 20px;
  }

  .ul-slide1{
    line-height: 2;
    margin-bottom: 20px;
  }

  .a-slide1{

    background-color: red;
    padding: 10px;
    color:#000;
    justify-content: center;

  }


  .parrafobservatorio {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-family: 'Afacad', sans-serif;
    border-radius: 20px;
    
    font-size: 2vw;
    text-align: justify;
    padding: 20px;
    line-height: -10px;
  }

  .grasszone-desktop #elobservatoriobanner {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .grasszone-desktop #elobservatorioimg {
    height: 25%;
    width: auto;
    transform: translateY(10vh);
  }

  .bannerdivisor-desktop {
    background-image: url(../img/bannerdivisor.svg);
    background-size: cover;
    height: 45%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(5vh);
  }

  .lakezone-header {
    background-image: url(../img/epoca.svg);
    background-size: cover;
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;



  }





  .lakezone-desktop {

    background-image: url(../img/fondolago.svg);
    background-size: cover;
    height: 175vh;
    z-index: 1;
    position: relative;
    margin-top: -225px;
    display: flex;
    flex-direction: column;
  }

  .lakezone-header {
    transform: translate(-65vh, 20vh);
  }

  .lakezone-superior {
    height: 75%;
    overflow: hidden;
  }

  .lakezone-inferior {

    height: 25%;
    overflow: hidden;
    /* Hace que ambos divs ocupen el mismo espacio */
  }

  .parrafolakezone {

    background: rgba(255, 255, 255, 0.5);
    width: 70%;
    font-family: 'Afacad', sans-serif;
    border-radius: 20px;
    transform: translate(10vh, 30vh);
    font-size: 2.5vw;
    text-align: justify;
    padding: 20px;
    line-height: -10px;


  }

  .lakezonebuttons {
    display: flex;
    justify-content: center;
    transform: translate(-22vh, 2vh);
    width: 125%;
  }



  .spacezone-desktop {
    background-image: url(../img/fondo\ estrelas\ doble_.svg);
    height: 1750px;
    background-size: cover;
    z-index: 0;
    position: relative;
    margin-top: -100px;
    display: flex;
    flex-direction: column;

  }

  .spacezone-header {
    display: flex;
    justify-content: end;
  }

  .faqs-banner {
    transform: translate(-10vh, 15vh);

  }

  .mitad-superior {
    flex: 1;

  }




  .mitad-inferior {
    flex: 1;
    /* Hace que ambos divs ocupen el mismo espacio */
  }

  .container {
    margin: 20px;
    position: absolute;
    /* Posiciona de manera absoluta dentro de su contenedor padre */
    top: 50%;
    /* Mueve el contenedor al 50% del contenedor padre en la parte superior */
    left: 50%;
    /* Mueve el contenedor al 50% del contenedor padre en la parte izquierda */
    transform: translate(-50%, -50%);
    /* Centra el contenedor */
    width: 70%;
    /* Establece el ancho del contenedor al 50% del ancho del contenedor padre */
    height: 70%;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-01 {
    background: rgba(241, 25, 230, 0.508);
    ;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;

  }

  .card-01[open] {
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
  }

  .card-02 {
    background: rgba(241, 25, 230, 0.508);
    ;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  .card-02[open] {
    max-width: 460px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
  }

  .card-03 {
    background: rgba(241, 25, 230, 0.508);
    ;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;

  }

  .card-03[open] {
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
  }

  .verplaneta-button {
    width: 25%;
    transform: translateY(-10vh);
  }

  .spacezone-footer {
    display: flex;
    justify-content: center;
  }

  .footer-desktop {
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    z-index: 5;
    position: relative;
    margin-top: -150px;
  }


}